---
layout: default
---

<main id="thoughtsMain">

  <div class="container-fluid my-row">
  <div class="col-md-8 col-md-offset-2 post">
    <ul id="thoughtsContent">
      {% for post in site.posts %}
        <li>
          <span>{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="postTitle" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{ post.excerpt }}
        </br></br>
        </li>
      {% endfor %}
    </ul>
  </div>
  </div>

{% include footer.html %}

</main>
